<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000a13;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }

  li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info span {
    margin-right: 10px;
  }

  nav a.active {
    color: #d9ff00;
  }
</style>

<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLink="/hero" routerLinkActive="active">Heroes</a></li>
    <li><a routerLink="/dragonball" routerLinkActive="active">Dragonball</a></li>
    <li><a routerLink="/dragonballsuper" routerLinkActive="active">DragonballSuper</a></li>
  </ul>
  <div class="user-info">
    <!-- <span *ngIf="isLoggedIn">Welcome, {{ username }}</span>
    <button (click)="toggleLogin()">{{ isLoggedIn ? 'Logout' : 'Login' }}</button> -->
  </div>
</nav>